<%= link_to 'Go to cart', carts_path %>
<h1>Orders</h1>

<%if @orders.present?%>
<table class='table'>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Customer_id</th>
      <th>Customer name</th>
      <th>address</th>
      <th>Mobile Number</th>
      
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product.product_name %></td>
        <td><%= order.customer_id %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.address%></td>
        <td><%= order.mobile_number %></td>
        
       
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
 <h1>No Deals Available</h1>
<%end%>
